:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #99cb33;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #d4d1d1;
    --darkmode: #272525;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
html, body{
    height: 100%;
    background-color: var(--darkmode);
}

/*-----whole sidebar-------*/
#sidebar{
    position: relative;
    width: 60px;
    height: 100%;
    background-color: var(--darkmode);
    padding: 5px 5px 0px;
}
.company_logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.company_logo img{
    width: 40px;
}
.icon{
    position: relative;
    width: 100%;
    padding: 10px 0px 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.icon:hover{
    background-color: var(--primary-color);
}
#show{
    display: none;
    position: absolute;
    background: transparent;
    min-width: 160px;
    top: -5px;
    left: 50px;
    padding: 5px;
    z-index: 1;
}
#showHelp{
    display: none;
    position: absolute;
    background: transparent;
    min-width: 160px;
    top: -62px;
    left: 55px;
    padding: 5px;
    z-index: 1;
}
.icon:hover #show {
    display: block;
}
.icon:hover #showHelp {
    display: block;
}
#shows{
    display: grid;
    background-color: #3c3c3c; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
  #showsSingle{
      display: flex;
      background-color: #3c3c3c; 
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  }
#shows a{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 3px;
    font-size: 15px;
}

#shows p{
    position: relative;
    display: inline-block;
    padding: 5px;
    color: var(--text-color);
    width: 100%;
    padding: 7px;
    font-size: 19px;

}
#showsSingle a{
    text-decoration: none;
}
#showsSingle p{
    position: relative;
    width: 100%;
    font-size: 19px;
    color: var(--text-color);
}
#shows a:hover{
    background-color: var(--darkmode);
}
#shows p:hover{
    background-color: var(--darkmode);
}
#showsSingle:hover{
    background-color: var(--darkmode);
}